 {% extends "base_generic.html" %}
    {% block content %}
    <h1>Local Library Home</h1>
    <p>
        Welcome to <em>LocalLibrary</em>, a very good Django website developed
        to give you booooooks!
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books: </strong>{{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres: </strong>{{ book_genre }}</li>
        <li><strong>Books with summary: </strong>{{ descr_books }}</li>
    </ul>
 {% endblock %}